@import "../../style/variables.scss";

.projects {
    @include themed() {
        background: t('text_lightmode')
    }
    min-height: 740px;
    padding-top: 60px;
    padding-bottom: 154px;

    &_subheader {
        margin-left: 1px;
        @media (max-width: 575px) {
            br {
                display: none;
            }
        }
    }
    &_list {
        margin-top: 69px;
        &:last-child {
            .project_wrapper {
                margin-bottom: 0;
            }
        }
        @media (max-width: 575px) {
            margin-top: 60px;
        }
    }

    @media (max-width: 1200px) {
        min-height: 682px;
        padding-top: 50px;
        padding-bottom: 113px;  
    }

    @media (max-width: 1023px) {
        min-height: 1024px; 
        padding-top: 70px;
        padding-bottom: 98px;
    }

    @media (max-width: 575px) {
        min-height: 758px; 
        padding-top: 46px;
        padding-bottom: 59px;
    }
}


