@font-face {
    font-family: 'Georgia_1';
    src: url('./Georgia.eot');
    src: url('./Georgia.eot?#iefix') format('embedded-opentype'),
    url('./Georgia.woff') format('woff'),
    url('./Georgia.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia_1';
    src: url('./Georgia-Bold.eot');
    src: url('./Georgia-Bold.eot?#iefix') format('embedded-opentype'),
    url('./Georgia-Bold.woff') format('woff'),
    url('./Georgia-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('./Verdana.eot');
    src: url('./Verdana.eot?#iefix') format('embedded-opentype'),
    url('./Verdana.woff') format('woff'),
    url('./Verdana.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }